@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  font-family: Proxima Nova, sans-serif;
}

body {
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1228px;
}

header {
  z-index: 5;
  background-color: #fff;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
}
header hr {
  border: none;
  color: #EEEEEE;
  background-color: #EEEEEE;
  height: 1px;
}
header .navbar {
  font-size: 14px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1.5fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1.5fr;
  grid-gap: 10px;
  margin: 10px 0;
}
header .navbar .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 220px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
}
header .navbar .first {
  padding-left: 20px;
}
header .navbar .navbar_item-phones > span {
  font-size: 16px;
  color: #000;
}
header .navbar .navbar_item-phones > svg {
  margin-left: 10px;
  margin-right: 5px;
}
header .navbar .navbar_item-phones {
  font-size: 12px;
  color: #3BB9FF;
}
header .navbar .silent {
  color: #909090;
  padding-left: 21px;
  font-size: 13px;
}
header .navbar .navbar_item .second {
  padding-left: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}
header .navbar .navbar_sub-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .navbar .navbar_sub-item svg {
  margin-right: 7px;
  color: #3BB9FF;
}
header .navbar .third ul {
  color: #11A042;
  list-style-type: none;
  margin-bottom: 3px;
}
header .navbar .third ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
header .navbar .third ul li:before {
  content: "⬤";
  font-size: 12px;
  margin: 0px 7px 0px 0px;
}
header .navbar .navbar_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  text-align: left;
}
header .navbar .third {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
header .navbar .logo {
  width: 200px;
}
header a.navbar-brand {
  text-decoration: none;
}
header a {
  color: #3BB9FF;
}
header .navbar_menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0px 3fr 0px 1.5fr 0px 1fr 0px 1fr;
  grid-template-columns: 1fr 3fr 1.5fr 1fr 1fr;
  grid-gap: 0px;
  margin: 10px 0;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  margin-top: 28px;
  position: relative;
}
header .navbar_menu .navbar_menu-item > .navbar_extended_box:hover .extend-menu {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
header .navbar_menu .navbar_menu-item > .navbar_extended_box:hover .arrow-first-link {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
header .navbar_menu .navbar_menu-item a {
  color: #000;
  text-decoration: none;
}
header .navbar_menu .navbar_menu-item a:hover {
  color: #3BB9FF;
}
header .navbar_menu .navbar_menu-item:last-child {
  text-align: end;
}
header .navbar_menu .navbar_menu-item:nth-child(2) {
  padding-left: 80px;
}
header .navbar_menu .navbar_menu-item:nth-child(4) {
  padding-left: 30px;
}
header .navbar_menu .extend-menu {
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  left: -20px;
  top: 100%;
  background-color: #F5FBFE;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 20px;
  font-size: 12px;
  line-height: 15px;
  z-index: 40;
}
header .navbar_menu .extend-menu ul {
  margin-right: 20px;
}
header .navbar_menu .extend-menu ul li > a:hover {
  color: #3BB9FF;
}
header .navbar_menu .extend-menu ul > li {
  list-style-type: none;
  margin-bottom: 10px;
}
header .navbar_menu .navbar_extended_box .arrow-first-link {
  margin-left: 10px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
header .navbar_menu .extend-menu-second {
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  left: 225px;
  top: 100%;
  background-color: #F5FBFE;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 20px;
  font-size: 12px;
  line-height: 15px;
  width: 450px;
  z-index: 40;
}
header .navbar_menu .extend-menu-second ul {
  margin-right: 20px;
}
header .navbar_menu .extend-menu-second ul li > a:hover {
  color: #3BB9FF;
}
header .navbar_menu .extend-menu-second ul > li {
  list-style-type: none;
  margin-bottom: 10px;
}
header .navbar_menu .extend-menu-second ul:first-child {
  width: 300px;
}
header .navbar_menu .navbar_extended_box .arrow-second-link {
  margin-left: 10px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
header .navbar_menu .navbar_menu-item > .navbar_extended_box:hover .extend-menu-second {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
header .navbar_menu .navbar_menu-item > .navbar_extended_box:hover .arrow-second-link {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.main {
  height: 730px;
  width: 100%;
  background-color: #3C4B64;
  background-image: url(img/bg.png);
  background-position: center -140px;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  z-index: 1;
}
.main h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  color: #fff;
}
.main .content {
  position: relative;
  height: 100%;
}
.main .content .main_first_box {
  display: inline-block;
  position: relative;
  left: 15%;
  top: 5%;
  z-index: 6;
  width: 700px;
}
.main .content .main_first_box h1 {
  text-align: left;
  margin-bottom: 50px;
  margin-left: 50px;
}
.main .content .main_second_box {
  display: inline-block;
  position: relative;
  right: -9%;
  top: 34%;
  width: 800px;
  z-index: 6;
}
.main .content .main_second_box h1 {
  text-align: right;
  margin-right: 80px;
  margin-bottom: 50px;
}

.works {
  position: relative;
  z-index: 10;
  height: 1000px;
  background-color: #fff;
}
.works .container {
  padding-top: 76px;
}
.works .container h2 {
  font-size: 36px;
  margin-bottom: 42px;
}
.works .container .category {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: minmax(35px, auto);
  margin-top: 30px;
  grid-row-gap: 10px;
}
.works .container .category a.category__active {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 14px;
}
.works .container .category a.category__disable {
  text-decoration: none;
  color: #909090;
  font-size: 14px;
}
.works .container .breadcrumbs {
  margin-bottom: 15px;
}
.works .container .breadcrumbs a {
  text-decoration: none;
  font-size: 12px;
  color: #3BB9FF;
  margin-left: 10px;
  line-height: 15px;
}
.works .container .button_mdl_blue {
  font-size: 18px;
  background: -webkit-gradient(linear, right top, left top, from(#3CB9FF), to(#00A3FF));
  background: linear-gradient(270deg, #3CB9FF 0%, #00A3FF 100%);
  border: 0px;
  color: #fff;
  padding: 13px 27px 12px 23px;
  border-radius: 2px;
  width: 220px;
}
.works .container .button_mdl_blue:hover {
  cursor: pointer;
}
.works .container .button_mdl_white {
  font-size: 18px;
  background: #FFF;
  border: 1px #3CB9FF solid;
  color: #000;
  padding: 12px 27px 11px 23px;
  border-radius: 2px;
  width: 220px;
  margin-left: 8px;
}
.works .container .button_mdl_white:hover {
  cursor: pointer;
}