* {
  padding: 0;
  margin: 0;
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  font-family: Proxima Nova, sans-serif;
}

.container {
  height: 100%;
  margin: 0 auto;
  max-width: 1228px;
}

button {
  transition: ease 0.3s;
  &:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    transition: ease 0.3s;
  }
}
hr {
  border: none;
  color: #eeeeee;
  background-color: #eeeeee;
  height: 1px;
}

header {
  position: relative;
  z-index: 50;
  background-color: #fff;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
  .navbar {
    font-size: 14px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1.5fr;
    grid-gap: 10px;
    margin: 10px 0;
    .text {
      display: flex;
      width: 220px;
      align-items: center;
      font-weight: 400;
    }
    .first {
      padding-left: 20px;
    }
    .navbar_item-phones > span {
      font-size: 16px;
      color: #000;
    }
    .navbar_item-phones > svg {
      margin-left: 10px;
      margin-right: 5px;
    }
    .navbar_item-phones {
      font-size: 12px;
      color: #3bb9ff;
    }
    .silent {
      color: #909090;
      padding-left: 21px;
      font-size: 13px;
    }
    .navbar_item .second {
      padding-left: 20px;
      flex-flow: row;
    }
    .navbar_sub-item {
      display: flex;
      align-items: center;
    }
    .navbar_sub-item svg {
      margin-right: 7px;
      color: #3bb9ff;
    }
    .third ul {
      color: #11a042;
      list-style-type: none;
      margin-bottom: 3px;
      li {
        display: flex;
        align-items: center;
        justify-content: end;
      }
      li:before {
        content: "\2B24";
        font-size: 12px;
        margin: 0px 7px 0px 0px;
      }
    }
    .navbar_item {
      display: flex;
      align-items: start;
      justify-content: center;
      flex-flow: column;
      text-align: left;
    }
    .third {
      align-items: flex-end;
    }
    .logo {
      width: 200px;
    }
  }
  a.navbar-brand {
    text-decoration: none;
  }
  a {
    color: #3bb9ff;
  }
  .navbar_menu {
    display: grid;
    grid-template-columns: 1fr 3fr 1.5fr 1fr 1fr;
    grid-gap: 0px;
    margin: 10px 0;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    margin-top: 28px;
    position: relative;
    .navbar_menu-item > .navbar_extended_box:hover .extend-menu {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
      transition: 0.3s ease-in-out;
    }
    .navbar_menu-item > .navbar_extended_box:hover .arrow-first-link {
      transition: 0.3s ease-in-out;
      transform: rotate(180deg);
    }
    .navbar_menu-item a {
      color: #000;
      text-decoration: none;
    }
    .navbar_menu-item a:hover {
      color: #3bb9ff;
    }
    .navbar_menu-item:last-child {
      text-align: end;
    }
    .navbar_menu-item:nth-child(2) {
      padding-left: 80px;
    }
    .navbar_menu-item:nth-child(4) {
      padding-left: 30px;
    }
    .extend-menu {
      transition: 0.1s ease-in-out;
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      left: -20px;
      top: 43px;
      background-color: #f5fbfe;
      display: inline-flex;
      padding: 20px;
      font-size: 12px;
      line-height: 15px;
      z-index: 40;
      ul {
        margin-right: 20px;
        li > a:hover {
          color: #3bb9ff;
        }
      }
      ul > li {
        list-style-type: none;
        margin-bottom: 10px;
      }
    }
    .navbar_extended_box {
      .arrow-first-link {
        margin-left: 10px;
        transition: 0.3s ease-in-out;
      }
      .arch_link-extend_menu {
        padding-bottom: 49px;
      }
    }
    .extend-menu-second {
      transition: 0.1s ease-in-out;
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      left: 225px;
      top: 43px;
      background-color: #f5fbfe;
      display: inline-flex;
      padding: 20px;
      font-size: 12px;
      line-height: 15px;
      width: 450px;
      z-index: 40;
      ul {
        margin-right: 20px;
        li > a:hover {
          color: #3bb9ff;
        }
      }
      ul > li {
        list-style-type: none;
        margin-bottom: 10px;
      }
    }
    .extend-menu-second ul:first-child {
      width: 300px;
    }
    .navbar_extended_box {
      .arrow-second-link {
        margin-left: 10px;
        transition: 0.3s ease-in-out;
      }
    }
    .navbar_menu-item > .navbar_extended_box:hover .extend-menu-second {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
      transition: 0.3s ease-in-out;
    }
    .navbar_menu-item > .navbar_extended_box:hover .arrow-second-link {
      transition: 0.3s ease-in-out;
      transform: rotate(180deg);
    }
  }
}

.main {
  height: 730px;
  width: 100%;
  background-color: #3c4b64;
  background: url("../img/bg.png") no-repeat center;
  background-size: cover;
  z-index: 1;
  h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    color: #fff;
  }
  .content {
    position: relative;
    // padding-top: 180px;
    height: 100%;
    .ellipse {
      position: absolute;
      bottom: -317px;
      left: -312px;
      z-index: 4;
    }
    .helmet_left {
      position: absolute;
      bottom: -262px;
      left: -588px;
      z-index: 11;
    }
    .circle1 {
      position: absolute;
      top: -456px;
      left: -671px;
      z-index: 3;
    }
    .mount_vector {
      position: absolute;
      top: -188px;
      right: -2980px;
      z-index: 5;
    }
    .stars2 {
      position: absolute;
      bottom: 230px;
      right: -180px;
      z-index: 6;
    }
    .helmet {
      position: absolute;
      top: -20px;
      right: -580px;
      z-index: 6;
    }
    .big_ellipse {
      position: absolute;
      top: -898px;
      right: -493px;
      z-index: 5;
    }
    .big_mount {
      position: absolute;
      top: -228px;
      right: -2344px;
      z-index: 4;
    }
    .stars1 {
      position: absolute;
      top: 35px;
      left: -260px;
      z-index: 5;
    }
    .main_first_box {
      display: inline-block;
      position: absolute;
      top: 110px;
      left: -60px;
      z-index: 6;
      width: 700px;
      h1 {
        text-align: left;
        margin-bottom: 50px;
        margin-left: 50px;
      }
    }
    .main_second_box {
      display: inline-block;
      position: absolute;
      width: 800px;
      right: -118px;
      top: 245px;
      z-index: 8;
      h1 {
        text-align: right;
        margin-right: 80px;
        margin-bottom: 50px;
      }
    }
  }
}

.works {
  position: relative;
  z-index: 10;
  height: 1000px;
  background-color: #fff;
  .container {
    padding-top: 76px;
    height: auto;
    h2 {
      font-size: 36px;
      margin-bottom: 42px;
    }
    .category {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-auto-rows: minmax(35px, auto);
      margin-top: 30px;
      grid-row-gap: 10px;
      a.category__active {
        text-decoration: none;
        color: #000;
        font-weight: 600;
        font-size: 14px;
      }
      a.category__disable {
        text-decoration: none;
        color: #909090;
        font-size: 14px;
      }
    }
    .breadcrumbs {
      margin-bottom: 15px;
      a {
        text-decoration: none;
        font-size: 12px;
        color: #3bb9ff;
        margin-left: 10px;
        line-height: 15px;
      }
    }
    .button_mdl_blue {
      font-size: 18px;
      background: linear-gradient(270deg, #3cb9ff 0%, #00a3ff 100%);
      border: 0px;
      color: #fff;
      padding: 13px 27px 12px 23px;
      border-radius: 2px;
      width: 220px;
      &:hover {
        cursor: pointer;
      }
    }
    .button_mdl_white {
      font-size: 18px;
      background: #fff;
      border: 1px #3cb9ff solid;
      color: #000;
      padding: 12px 27px 11px 23px;
      border-radius: 2px;
      width: 220px;
      margin-left: 8px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .swiper.first {
    // position: relative;
    // left: -290px;
    min-width: 100%;
    margin-top: 50px;
    .swiper-wrapper {
      .swiper-slide {
        position: relative;
        left: 340px;
        max-height: 400px !important;
        width: 600px !important;
        background-color: #f5fbfe;
        img {
          width: 100%;
          height: 253px;
        }
        h3 {
          font-size: 18px;
          font-weight: 600;
          margin-top: 25px;
          margin-left: 25px;
          width: 400px;
        }
        a {
          display: flex;
          align-items: center;
          color: #3bb9ff;
          font-size: 18px;
          margin-top: 28px;
          margin-left: 25px;
          padding-bottom: 28px;
          svg {
            margin-left: 9px;
          }
        }
      }
    }
  }
  .container {
    position: relative;
    .swiper-button-prev::after,
    .swiper-button-next::after {
      display: none;
    }
    .swiper-button-next {
      transform: rotate(180deg);
    }
  }
  // .swiper-button-prev,
  // .swiper-button-next {}
}

.documentation {
  min-height: 750px;
  .swiper.second {
    margin: 0px 80px;
  }
  h2 {
    font-size: 36px;
    margin-bottom: 42px;
    text-align: center;
  }
  .container {
    position: relative;
    .swiper-button-prev.sec::after,
    .swiper-button-next.sec::after {
      display: none;
    }
    .swiper-button-prev.sec {
      position: relative !important;
      top: -350px;
      left: 0;
      display: block;
    }
    .swiper-button-next.sec {
      position: relative !important;
      transform: rotate(180deg);
      top: -350px;
      right: -1200px;
      display: block;
    }
    .stars_el {
      position: absolute;
      bottom: -295px;
      right: -905px;
    }
  }
  .box_for_doc {
    height: 552px;
    img {
      display: block;
      margin: 0 auto;
    }
    h3 {
      font-size: 24px;
      line-height: 29px;
      color: #3c4b64;
      margin-top: 20px;
      margin-bottom: 10px;
      margin-left: auto;
      margin-right: auto;
      font-weight: 600;
      width: 272px;
      &:before {
        content: "";
        background: url(../img/mark_h3.svg);
        height: 18px;
        width: 18px;
        display: inline-block;
        position: absolute;
        left: 7px;
        bottom: 97px;
      }
    }

    p {
      font-size: 14px;
      line-height: 17px;
      color: #000000;
      width: 272px;
      margin: 0 auto;
    }
  }
}

.form_raschet {
  width: 100%;
  background-color: #3c4b64;
  background: url("../img/bg2.png") no-repeat center;
  background-size: cover;
  z-index: 1;
  min-height: 677px;
  padding-top: 112px;
  .container {
    position: relative;
    .stars3 {
      position: absolute;
      bottom: 465px;
      left: -144px;
      z-index: 4;
    }
    .stars_right {
      position: absolute;
      bottom: 219px;
      right: -144px;
      z-index: 4;
    }
    .city {
      position: absolute;
      bottom: -150px;
      left: -614px;
      z-index: 4;
    }
    .car {
      position: absolute;
      top: 0px;
      right: -400px;
      z-index: 4;
    }
  }
  .border_box {
    margin: 0px 0px 145px 0px;
    border: #3bb9ff solid 2px;
    min-height: 368px;
    padding: 55px 58px 108px 58px;
    h2 {
      font-weight: 600;
      font-size: 36px;
      line-height: 44px;
      text-align: center;
      color: #ffffff;
      width: 1000px;
      margin: 0 auto;
      margin-bottom: 70px;
    }
    .inputs {
      form {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 29px;
        grid-row-gap: 17px;
        z-index: 5;
        position: relative;
        .inputs_cell {
          span {
            display: block;
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;
            color: #ffffff;
            margin-bottom: 10px;
          }
          input {
            width: 333px;
            height: 22px;
            border: 0px;
            padding: 22px 0px 21px 17px;
            font-size: 18px;
            line-height: 22px;
            outline: 1px black;
          }
          .select_after {
            position: relative;
            select {
              width: 350px;
              height: 65px;
              border: 0px;
              padding: 22px 0px 21px 17px;
              font-size: 18px;
              line-height: 22px;
              outline: 1px black;
              appearance: none;
              overflow: hidden;
            }
            &::after {
              content: "";
              width: 23px;
              height: 20px;
              display: inline-block;
              background: url(../img/ep_arrow-down-bold.svg);
              position: absolute;
              top: 22px;
              right: 17px;
              pointer-events: none;
            }
          }

          button {
            width: 350px;
            height: 65px;
            background: linear-gradient(270deg, #3cb9ff 0%, #00a3ff 100%);
            border-radius: 2px;
            border: 0px;
            color: #fff;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            cursor: pointer;
            transition: ease 0.3s;
          }
          &:last-child {
            position: relative;
            button {
              position: absolute;
              left: 0;
              bottom: 0;
            }
          }
        }
      }
    }
  }
}

.slider_two_rows {
  padding-top: 100px;
  min-height: 730px;
  .container {
    position: relative;
    .helmet2 {
      position: absolute;
      bottom: -450px;
      right: -650px;
    }
    h2 {
      font-weight: 600;
      font-size: 36px;
      line-height: 44px;
      text-align: center;
      width: 792px;
      margin: 0 auto;
      margin-bottom: 25px;
    }
    .buttons {
      margin: 0 auto;
      width: 340px;
      .button_mdl_blue {
        font-size: 18px;
        background: linear-gradient(270deg, #3cb9ff 0%, #00a3ff 100%);
        border: 0px;
        color: #fff;
        padding: 13px 27px 12px 23px;
        border-radius: 2px;
        width: 156px;
        &:hover {
          cursor: pointer;
        }
      }
      .button_mdl_white {
        font-size: 18px;
        background: #fff;
        border: 1px #3cb9ff solid;
        color: #000;
        padding: 12px 27px 11px 23px;
        border-radius: 2px;
        width: 156px;
        margin-left: 8px;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .swiper.third {
      .swiper-wrapper {
        margin-top: 63px;
        margin-bottom: 22px;
        .swiper-slide {
          margin: 0 !important;
          width: 550px;
          .slide_box {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            .border-vert {
              position: absolute;
              right: 6px;
              top: 24px;
              width: 288px;
              height: 155px;
              border-left: 2px solid #eeeeee;
              border-right: 2px solid #eeeeee;
            }
            .border-vert-bottom {
              position: absolute;
              right: 6px;
              bottom: 24px;
              width: 288px;
              height: 155px;
              border-left: 2px solid #eeeeee;
              border-right: 2px solid #eeeeee;
            }
            .border-vert-second {
              position: absolute;
              left: -8px;
              top: 24px;
              width: 307px;
              height: 155px;
              border-left: 2px solid #eeeeee;
              border-right: 2px solid #eeeeee;
            }
            .border-vert-bottom-second {
              position: absolute;
              left: -8px;
              bottom: 24px;
              width: 307px;
              height: 155px;
              border-left: 2px solid #eeeeee;
              border-right: 2px solid #eeeeee;
            }
            .border-horiz {
              position: absolute;
              left: 8px;
              top: 197px;
              width: 1228px;
              height: 2px;
              border-bottom: 2px solid #eeeeee;
            }
            .slide_box-item {
              justify-content: space-around;
              width: 100%;
              margin: 75px 0px;
              display: flex;
            }
          }
        }
      }
    }
  }
}
.map {
  height: 1136px;
  background-color: #f5fbfe;
  padding-top: 61px;
  .container {
    position: relative;
    h2 {
      font-weight: 600;
      font-size: 36px;
      line-height: 44px;
      text-align: center;
      color: #000000;
    }
    .bashk_map {
      position: absolute;
      bottom: 0px;
      left: 172px;
      z-index: 16;
    }
    .back_ellipse {
      position: absolute;
      bottom: -104px;
      left: -128px;
      z-index: 15;
    }
    .big_logo {
      position: absolute;
      top: -57px;
      right: -208px;
      z-index: 14;
    }
    .vector_back {
      position: absolute;
      bottom: -169px;
      left: -1024px;
      z-index: 13;
    }
    .big_mount2 {
      position: absolute;
      bottom: 0px;
      left: -585px;
      z-index: 12;
    }
    .blue_stars_left {
      position: absolute;
      top: 171px;
      left: -216px;

      z-index: 11;
    }
    .blue_stars_right {
      position: absolute;
      top: 299px;
      right: -305px;
      z-index: 11;
    }
  }
}
.thanks_mail {
  height: 581px;
  padding-top: 85px;
  z-index: 15;
  position: relative;
  background-color: #fff;
  .container {
    position: relative;
    h2 {
      font-weight: 600;
      font-size: 36px;
      line-height: 44px;
      text-align: center;
      color: #000;
    }
    .swiper-button-prev.four::after,
    .swiper-button-next.four::after {
      display: none;
    }
    .swiper-button-prev.four {
      position: relative !important;
      top: -181px;
      left: 0;
      display: block;
    }
    .swiper-button-next.four {
      position: relative !important;
      transform: rotate(180deg);
      top: -181px;
      right: -1185px;
      display: block;
    }
    .swiper-pagination.four {
      bottom: 85px;
    }
    .swiper.four {
      margin-top: 66px;
      width: 85%;
    }
  }
}
.form_question {
  background: url("../img/bg3.png") no-repeat center;
  background-size: cover;
  min-height: 679px;
  width: 100%;
  padding-top: 109px;
  .container {
    position: relative;
    .mask {
      position: absolute;
      top: -363px;
      left: -891px;
      z-index: 1;
      pointer-events: none;
    }
    .stars_left_side {
      position: absolute;
      top: -46px;
      left: -142px;
      z-index: 3;
      pointer-events: none;
    }
    .building {
      position: absolute;
      bottom: -325px;
      left: 692px;
      z-index: 4;
      pointer-events: none;
    }
    .border_box {
      margin: 0 auto;
      border: 2px solid #fff;
      height: 508px;
      padding-top: 71px;
      .text {
        width: 1000px;
        margin: 0 auto;
        text-align: center;
        h2 {
          font-weight: 600;
          font-size: 36px;
          line-height: 44px;
          color: #ffffff;
        }
        span {
          font-weight: normal;
          font-size: 24px;
          line-height: 29px;
          text-align: center;
          color: #ffffff;
        }
      }
      .inputs {
        margin-top: 63px;
        height: 316px;
        margin-left: 49px;
        margin-right: 49px;
        form {
          position: relative;
          height: 100%;
          .flex-wrap {
            height: 100%;
            display: flex;
            .textbox {
              width: 50%;
              height: 316px;
              z-index: 10;
              span {
                display: block;
                font-weight: normal;
                font-size: 18px;
                line-height: 22px;
                color: #ffffff;
                margin-bottom: 10px;
              }
              textarea {
                padding: 15px 17px;
                font-size: 18px;
                line-height: 22px;
                width: 580px;
                height: 83%;
                resize: none;
                box-sizing: border-box;
                outline: none;
              }
            }
            .number {
              padding-left: 70px;
              width: 50%;
              z-index: 10;
              span {
                display: block;
                font-weight: normal;
                font-size: 18px;
                line-height: 22px;
                color: #ffffff;
                margin-bottom: 10px;
              }
              input {
                width: 333px;
                height: 22px;
                border: 0px;
                padding: 22px 0px 21px 17px;
                font-size: 18px;
                line-height: 22px;
                outline: 1px black;
                margin-bottom: 15px;
              }
              .select_after {
                position: relative;
                select {
                  width: 350px;
                  height: 65px;
                  border: 0px;
                  padding: 22px 0px 21px 17px;
                  font-size: 18px;
                  line-height: 22px;
                  outline: 1px black;
                  appearance: none;
                  overflow: hidden;
                }
                &::after {
                  content: "";
                  width: 23px;
                  height: 20px;
                  display: inline-block;
                  background: url(../img/ep_arrow-down-bold.svg);
                  position: absolute;
                  top: 22px;
                  right: 167px;
                  pointer-events: none;
                }
              }
              button {
                width: 350px;
                height: 65px;
                background: linear-gradient(270deg, #3cb9ff 0%, #00a3ff 100%);
                border-radius: 2px;
                border: 0px;
                color: #fff;
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
                text-align: center;
                cursor: pointer;
                transition: ease 0.3s;
                margin-top: 20px;
              }
            }
          }
        }
      }
    }
  }
}

.contacts {
  min-height: 863px;
  position: relative;
  #map {
    position: absolute;
    width: 50%;
    left: 0;
    top: 0;
    z-index: 15;
  }
  .white_blank {
    background: #fff;
    width: 50%;
    position: absolute;
    right: 0;
    height: 100%;
    top: 0;
    .white_blank_box {
      margin: 86px 0px 106px 108px;
      h2 {
        font-weight: 600;
        font-size: 36px;
        line-height: 44px;
        color: #000000;
        margin-bottom: 12px;
      }
      p {
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        max-width: 412px;
        margin-bottom: 45px;
      }
      .address {
        max-width: 421px;
        display: flex;
        align-items: flex-start;
        margin-bottom: 25px;
        height: 50px;
        img {
          margin-right: 15px;
          margin-top: 5px;
          height: 25px;
        }
      }
      .phone_numbers {
        display: flex;
        align-items: flex-start;
        height: 90px;
        span {
          color: #3bb9ff;
          font-size: 24px;
          font-weight: bold;
        }
        img {
          margin-right: 15px;
          margin-top: 2px;
          height: 25px;
        }
      }
      .email {
        display: flex;
        align-items: flex-start;
        height: 50px;
        span{
            color: #3bb9ff;;
        }
        img {
          margin-right: 15px;
          height: 25px;
        }
      }
      .clock {
        display: flex;
        align-items: flex-start;
        img {
          margin-left: 2px;
          margin-right: 15px;
          margin-top: 5px;
          width: 22px;
        }
        span {
          color: #909090;
          font-size: 14px;
        }
      }
      .download {
        font-size: 18px;
        color: #fff;
        background: #3bb9ff;
        border-radius: 5px;
        border: 0px;
        padding: 20px 20px 20px 30px;
        width: 500px;
        height: 60px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        img {
          position: relative;
          top: -5px;
        }
      }
      .save {
        border-radius: 2px;
        border: 1px solid #3bb9ff;
        height: 108px;
        width: 426px;
        padding-top: 26px;
        padding-left: 30px;
        padding-right: 34px;
        .shortcut {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
          .big_blue {
            color: #3bb9ff;
            font-style: normal;
            font-weight: 800;
            font-size: 40px;
            line-height: 49px;
            width: 215px;
          }
        }
      }
    }
  }
}

footer {
  height: 100px;
  background-color: #222222;
  .flex-wrap {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    .foot_logo {
      display: flex;
      height: 100%;
      align-self: center;
      img {
        width: 200px;
      }
      .small {
        color: #fff;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-self: center;
        margin-left: 20px;
        font-weight: 400;
      }
    }
    .foot_right {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      justify-content: center;
      align-content: stretch;
      flex-wrap: wrap;
      img {
        width: 123px;
      }
      a {
        color: #fff;
        font-size: 16px;
        margin-bottom: 14px;
      }
    }
  }
}
